* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #688374;
    font-family: 'Quattrocento Sans', sans-serif;
}

h1 {
    font-family: 'Righteous', cursive;
}

h2,
h3,
h4 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

header,
nav,
main,
footer {
    width: 75%;
    margin: auto;
}

main {
    display: flex;
}

header {
    background-color: #d7e5cf;
    padding: 10% 3%;
}

header p {
    color: #868c8e;
}
nav {
    background-color: #776575;
    padding: 5% 3%;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 0 5%;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main,
footer,
section,
aside {
    background-color: #f6fafb;
}

section,
aside {
    padding: 6%;
}

section {
    width: 70%;
    float: left;
}

aside {
    width: 30%;
    float: right;
    text-align: center;
}

img {
    display: block;
    width: 70%;
    margin: auto;
    padding-bottom: 5%;
}

footer {
    clear: both;
    background-color: #d7e5cf;
    padding: 5% 3%;
    text-align: center;
}

footer form input {
    display: block;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 2%;
    margin-top: 2%;
}

#submit {
    width: 30%;
}

.hide {
    display: none;
}
