* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e9f7b4;
}

.container {
    width: 60%;
    margin: auto;
}

form {
    text-align: center;
    background-color: #fff8dd;
    padding: 5%;
}

input,
textarea {
    width: 50%;
    margin: 3% auto;
    display: block;
    padding: 1.5% 0;
    border: 2px solid black;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

textarea {
    min-height: 200px;
    border-radius: 10%;
}

input {
    text-align: center;
}

label {
    font-size: 2em;
    font-family: 'Anton', sans-serif;
}

.orange {
    background-color: #ffcd6b;
}

.darkBlue {
    background-color: #3c89fc;
}

.lightBlue {
    background-color: #9cd0f4;
}

.green {
    background-color: #bbf26a;
}

.button {
    color: #fff8dd;
    border-radius: 50%;
    width: 25%;
    margin-top: 5%;
}
