body {
    background-color: #e9f7b4;
}

.container {
    width: 80%;
    margin: auto;
}

form {
    text-align: center;
    margin-top: 5%;
}

input,
textarea {
    width: 50%;
    margin: 1% auto;
    display: block;
    padding: 1.5% 0;
}

textarea {
    min-height: 200px;
}

input {
    text-align: center;
}

label {
    font-size: 2em;
}
